body {
    background-color: black;
    background-image: url("../images/olaf-huttemann-8029-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.nav{
    background-color: dimgray;
}
#topNav {
    color: whitesmoke;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.jumbotron {
    text-align: center;
    background-color: dimgray;
    opacity: 0.9;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
}
h3 {
    font-family: 'Lobster', cursive;
    color: whitesmoke;

    font-size: 30px;
}
#emotionStatement {
  color: white;
  text-align: center;
  background: black;
  opacity: 0.9;
}
/* #my_camera {

} */



#submit {
    margin-left: 505px;
}
